# --- JAVA ESTÁNDAR ---
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*

# --- VS CODE ESPECÍFICO ---
.vscode/
bin/
.project
.classpath
.settings/

# --- HERRAMIENTAS DE CONSTRUCCIÓN (Build Tools) ---
# Si usas Maven:
target/
# Si usas Gradle:
build/
.gradle/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
